<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Кредитный калькулятор</title>

</head>
<body>
    <div style="margin-top: 10px;" class="container">
        <h1>Кредитный калькулятор</h1>
        <form>
            <div class="form-group row">
                <label for="inputLoanSize" class="col-sm-2 col-form-label">Сумма кредита</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputLoanSize" placeholder="100 000 - 5 000 0000">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLoanPeriod" class="col-sm-2 col-form-label">Срок кредита (мес.)</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputLoanPeriod" placeholder="12 - 60">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLoanPercent" class="col-sm-2 col-form-label">Годовая процентная ставка (%)</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputLoanPercent" placeholder="12.9 - 23.9">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Расчёт аннуитетного графика</button>
                </div>
            </div>

        </form>



        <table class="table table-striped table-hover ">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Месяц/Год</th>
                <th scope="col">Платёж по основному долгу</th>
                <th scope="col">Платёж по процентам</th>
                <th scope="col">Остаток основного долга</th>
                <th scope="col">Общая сумма платежа</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>09/2019</td>
                <td>10340</td>
                <td>528</td>
                <td>380000</td>
                <td>10868</td>
            </tbody>
        </table>
    </div>
</body>
</html>